.scrollingLetter {
  background-color:lavender;
  border:3px solid black;
  border-radius:100%;
  height:100px;
  position:absolute;
  width:100px;

  color:black;
  font-family:Helvetica;
  font-size:90px;
  text-align:center;
}

.scrollingLetterContainer {
  background-color:blue;
  position:absolute;
}

.typingContainer {
  background-color:indianred;
  border-radius:10%;
  opacity:0.5;

  position:absolute;
  top:413px;
  left:100px;
}
